{% extends 'base.html' %}
{% block content %}
<div class="p-3">
  <div class="container">
    <div class="row mt-3">
      <div class="col mx-auto mb-3">
        <h2>Report Review</h2>
        <hr />
        <form method="POST">
          {% csrf_token %}
          <p>
            <label for="comment">Reason for report:</label>
            <textarea name="comment" required
            class="form-control" id="comment">Enter your reason here.</textarea>
          </p>
          <div class="text-start">
            <button type="submit"
              class="btn bg-dark text-white">I understand this will permanently delete the review.
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock content %}